:root {
    /* Colors */
    --bg-color-body: #333;
    --text-color-link: #fff;
    --bg-color-window: #000;
    --border-color-window: #555;
    --text-color-input: #fff;

    /* Dimensions */
    --full-height: 100%;
    --full-width: 100vw;
    --window-width: 40vw;
    --window-height: 40vh;
    --window-margin-right: 1vw;
    --window-padding: 20px;
    --window-padding-top: 20px;
    --window-border-width: 3px;
    --input-width: calc(100% - 10px);
    --input-min-height: 20px;

    /* Font properties */
    --font-size-window: 21px;
    --font-family-window: monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#desktop {
    /* background-color: #1c0e65; */
    height: 100%;
    overflow: hidden;
}

#desktop #icons {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
}

#desktop #icons .icon {
    display: flex;
    width: 64px;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 20px;
}

#desktop #icons .icon img {
    width:64px;
    min-height: 64px;
    background-color: #333;
}

#desktop #icons .icon p {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    margin: 10px 0 0 0;
}

.container {
    overflow-y: auto;
    height: calc(100% - 20px - 20px);
    border-radius: 0 0 10px 10px;  
}

.terminal {
    background-color: #000;
    overflow-y: auto;
    padding: 20px 20px 0 20px;
    color: #fff;;
    font-size: 21px;
    font-family: monospace;
    word-wrap: break-word;
    height: calc(100% - 20px - 20px);
    border-radius: 0 0 10px 10px;
}

.terminal a {
    color: #fff;
}

.terminal .input {
    background: none;
    border: none;
    color: #fff;
    display: inline;
    font-family: 21px;
    outline: none;
    white-space: pre-wrap;
    width: calc(100% - 10px);
}

.window {
    position: relative;
    border: 3px solid #5f5f5f;
    z-index: 0;
    border-radius: 10px;
}

.window .resizable-handle {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUeNpi%2Bf%2F%2FPwMxwNvb24GJWIX6%2Bvr7mYhVePHiRUcmYhUCuQeYiFUIxNjdjE0hVjfjUojhZnwKUdxMSCHczcQoBLuZWIUgPkCAAQCFeVrlOKc1%2BgAAAABJRU5ErkJggg%3D%3D) no-repeat 7px 7px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: se-resize;
}

.window .draggable-bar {
    display: flex;
    cursor: move;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 20px 0 20px;
    background: #393939;
    border-radius: 8px 8px 0 0;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
}

.window .draggable-bar .window-title {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.window .draggable-bar .controls-container {
    display: flex;
    flex-direction: row-reverse;
}

.window .draggable-bar .controls-container .close-btn, .window .draggable-bar .controls-container .fullscreen-btn, .window .draggable-bar .controls-container .smallscreen-btn {
    background-color: #fff;
    padding: 0;
    margin: 0;
    border: 2px solid #5f5f5f;
    line-height: 16px;
    font-size: 16px;
    font-weight: 600;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
}

.window .draggable-bar .controls-container .fullscreen-btn, .window .draggable-bar .controls-container .smallscreen-btn {
    /* border-radius: 0; */
    margin-right:10px;
}

#wallpaper {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #1c0e65, #241174);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#wallpaper .soft-circle {
    background: radial-gradient(circle at center, rgba(255,255,255,0.05), #1c0e65 70%);
    position: absolute;
    border-radius: 50%;
}

#wallpaper .circle1 {
    top: 15%;
    left: 5%;
    width: 30vw;
    padding-top: 30vw;
    height: 0;
}

#wallpaper .circle2 {
    bottom: 20%;
    right: 10%;
    width: 25vw;
    padding-top: 25vw;
    height: 0;
}

#wallpaper .circle3 {
    top: 5%;
    right: 5%;
    width: 15vw;
    padding-top: 15vw;
    height: 0;
}

#wallpaper .circle4 {
    bottom: 10%;
    left: 20%;
    width: 10vw;
    padding-top: 10vw;
    height: 0;
}

#wallpaper .circleCenter {
    top: 50%;
    left: 50%;
    width: 20vw;
    padding-top: 20vw;
    transform: translate(-50%, -50%);
    height: 0;
}

#wallpaper h1, #wallpaper h2, #wallpaper h3 {
    margin: 10px 0;
    text-align: center;
    color: #a5a0d4;
}

#wallpaper h1 {
    font-size: 2.5rem;
}

#wallpaper h2 {
    font-size: 2rem;
    font-weight: 300;
}

#wallpaper h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

#wallpaper .text-container {
    position: relative;
    top: -20%;
}
@media screen and (max-width: 479px) {
    .window {
        display: none;
    }
}
