[Desktop Entry]
Type=Application
Name=Text Editor
Exec=/usr/bin/edit
Categories=Utility;
MimeType=text/plain;text/markdown;
X-PMos-Caps=DISPLAY_CLIENT
